@import 'tailwindcss';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';
body {
  background-color: #fefaef;
  font-family: 'roboto', sans-serif;
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slideInRight {
  animation: slideInRight 0.25s ease-out;
}
